Repository rh-api-management/rhcl-file-based-catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhcl-file-based-catalog-4-14-on-push, rhcl-file-based-catalog-4-21-on-push

.tekton/rhcl-file-based-catalog-4-14-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/rh-api-management/rhcl-file-based-catalog?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: 'false'
    pipelinesascode.tekton.dev/max-keep-runs: '3'
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" && (".tekton/rhcl-file-based-catalog-4-14-push.yaml".pathChanged() || ".tekton/fbc-build-pipeline.yaml".pathChanged() || "catalog/4.14.Containerfile".pathChanged() || "catalog/4.14/.*".pathChanged())
  creationTimestamp:
  labels:
    appstudio.openshift.io/application: rhcl-file-based-catalog
    appstudio.openshift.io/component: rhcl-file-based-catalog-4-14
    pipelines.appstudio.openshift.io/type: build
  name: rhcl-file-based-catalog-4-14-on-push
  namespace: api-management-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/api-management-tenant/rhcl-file-based-catalog-4-14:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: catalog/4.14.Containerfile
  pipelineRef:
    name: fbc-build-pipeline
  taskRunTemplate:
    serviceAccountName: build-pipeline-rhcl-file-based-catalog-4-14
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/rhcl-file-based-catalog-4-21-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/rh-api-management/rhcl-file-based-catalog?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" && (".tekton/rhcl-file-based-catalog-4-21-push.yaml".pathChanged() || ".tekton/fbc-build-pipeline.yaml".pathChanged() || "catalog/4.21.Containerfile".pathChanged() || "catalog/4.21/**".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: rhcl-file-based-catalog
    appstudio.openshift.io/component: rhcl-file1-based-catalog-4-21
    pipelines.appstudio.openshift.io/type: build
  name: rhcl-file-based-catalog-4-21-on-push
  namespace: api-management-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/api-management-tenant/rhcl-file-based-catalog-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: catalog/4.21.Containerfile
  pipelineRef:
    name: fbc-build-pipeline
  taskRunTemplate:
    serviceAccountName: build-pipeline-rhcl-file-based-catalog-4-21
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

Fix yaml formatting errors in RHCL Operator catalogs
  catalog/4.17/rhcl-operator/catalog.yaml
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Remove 1.3.0 from 4.17 catalog, 1.3.0 will not support this version
  catalog/4.17/authorino-operator/catalog.yaml
  catalog/4.17/dns-operator/catalog.yaml
  catalog/4.17/limitador-operator/catalog.yaml
  catalog/4.17/rhcl-operator/catalog.yaml
Due: none

New RHCL Operator bundle and wasm-shim image, had to rebuild with new konflux tasks
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Correct DNS operator image, to match the one that was released
  catalog/4.19/dns-operator/catalog.yaml
  catalog/4.20/dns-operator/catalog.yaml
  catalog/4.21/dns-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Correct limitador operator bundle image, to match the one that was shipped
  catalog/4.19/limitador-operator/catalog.yaml
  catalog/4.20/limitador-operator/catalog.yaml
  catalog/4.21/limitador-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

New DNS Operator and Bundle, with correct docker mediatype
  catalog/4.19/dns-operator/catalog.yaml
  catalog/4.20/dns-operator/catalog.yaml
  catalog/4.21/dns-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Only Authorino 1.3.0 in OCP 4.21
  catalog/4.21/authorino-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Fix typo in 4.21 push pipeline
  .tekton/rhcl-file-based-catalog-4-21-push.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Revert "Only Authorino 1.3.0 in OCP 4.21"
  catalog/4.21/authorino-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

File Based Catalog for RHCL 1.2.1 in OCP 4.16
  catalog/4.16/authorino-operator/catalog.yaml
  catalog/4.16/dns-operator/catalog.yaml
  catalog/4.16/limitador-operator/catalog.yaml
  catalog/4.16/rhcl-operator/catalog.yaml
Due: none

fix digest url for rhcl v1.2.1
  catalog/4.16/rhcl-operator/catalog.yaml
Due: none

ocp-4.16 rhcl-operator v1.2.1 in olm.bundle.object format
  catalog/4.16/rhcl-operator/catalog.yaml
Due: none

ocp-4.16 limitador-operator in olm.bundle.object format
  catalog/4.16/limitador-operator/catalog.yaml
Due: none

ocp-4.16 authorino-operator in olm.bundle.object format
  catalog/4.16/authorino-operator/catalog.yaml
Due: none

ocp-4.16 dns-operator in olm.bundle.object format
  catalog/4.16/dns-operator/catalog.yaml
Due: none

Add entry for RHCL Operator 1.2.0 in OCP 4.16
  catalog/4.16/rhcl-operator/catalog.yaml
Due: none

add rhcl-operator.v1.2.0 to channel entries
  catalog/4.16/rhcl-operator/catalog.yaml
Due: none

update konflux task refs
  .tekton/fbc-build-pipeline.yaml
Due: rhcl-file-based-catalog-4-14-on-push, rhcl-file-based-catalog-4-21-on-push

FBC for RHCL 1.3.1
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

File Based Catalog for RHCL 1.3.2
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Add renovate.json config to automerge konflux PRs
  renovate.json
Due: none

olm.gvk and crdDescriptions entries added for APIKey (apikeys.devportal.kuadrant.io) and APIProduct (apiproducts.devportal.kuadrant.io) to v1.3.0, v1.3.1, and v1.3.2
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

RHCL 1.3.3 FBC
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Create MCP Gateway Operator catalog
  catalog/4.19/mcp-gateway-operator/catalog.yaml
  catalog/4.20/mcp-gateway-operator/catalog.yaml
  catalog/4.21/mcp-gateway-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Add APIProduct and APIKey olm.gvk entries for rhcl-1.3.3
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Add dependency on rhcl-operator to MCP Gateway catalog
  catalog/4.19/mcp-gateway-operator/catalog.yaml
  catalog/4.20/mcp-gateway-operator/catalog.yaml
  catalog/4.21/mcp-gateway-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Add missing CRDs to olm.gvk section for rhcl-1.3.3
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Fix discrepancies between olm.gvk and crdDescription sections of rhcl-operator catalog
  catalog/4.17/rhcl-operator/catalog.yaml
  catalog/4.18/rhcl-operator/catalog.yaml
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Catalog for RHCL 1.3.4
  catalog/4.18/authorino-operator/catalog.yaml
  catalog/4.18/dns-operator/catalog.yaml
  catalog/4.18/limitador-operator/catalog.yaml
  catalog/4.18/rhcl-operator/catalog.yaml
  catalog/4.19/authorino-operator/catalog.yaml
  catalog/4.19/dns-operator/catalog.yaml
  catalog/4.19/limitador-operator/catalog.yaml
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/authorino-operator/catalog.yaml
  catalog/4.20/dns-operator/catalog.yaml
  catalog/4.20/limitador-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/authorino-operator/catalog.yaml
  catalog/4.21/dns-operator/catalog.yaml
  catalog/4.21/limitador-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Make catalog entries match canonical rendered content from opm
  catalog/4.18/authorino-operator/catalog.yaml
  catalog/4.18/dns-operator/catalog.yaml
  catalog/4.18/limitador-operator/catalog.yaml
  catalog/4.18/rhcl-operator/catalog.yaml
  catalog/4.19/authorino-operator/catalog.yaml
  catalog/4.19/dns-operator/catalog.yaml
  catalog/4.19/limitador-operator/catalog.yaml
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/authorino-operator/catalog.yaml
  catalog/4.20/dns-operator/catalog.yaml
  catalog/4.20/limitador-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/authorino-operator/catalog.yaml
  catalog/4.21/dns-operator/catalog.yaml
  catalog/4.21/limitador-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Red Hat Konflux update rhcl-file-based-catalog-4-22
  .tekton/rhcl-file-based-catalog-4-22-pull-request.yaml
  .tekton/rhcl-file-based-catalog-4-22-push.yaml
Due: none

Set up 4.22 catalog build
  .tekton/rhcl-file-based-catalog-4-22-pull-request.yaml
  .tekton/rhcl-file-based-catalog-4-22-push.yaml
  catalog/4.22.Containerfile
Due: none

Add claude skill for new catalog entries
  .claude/commands/add-bundle.md
  README.md
Due: none

File Based Catalog for RHCL 1.4.0
  catalog/4.19/authorino-operator/catalog.yaml
  catalog/4.19/dns-operator/catalog.yaml
  catalog/4.19/limitador-operator/catalog.yaml
  catalog/4.19/mcp-gateway-operator/catalog.yaml
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/dns-operator/catalog.yaml
  catalog/4.20/limitador-operator/catalog.yaml
  catalog/4.20/mcp-gateway-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/authorino-operator/catalog.yaml
  catalog/4.21/limitador-operator/catalog.yaml
  catalog/4.21/mcp-gateway-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
  catalog/4.22/authorino-operator/catalog.yaml
  catalog/4.22/dns-operator/catalog.yaml
  catalog/4.22/limitador-operator/catalog.yaml
  catalog/4.22/mcp-gateway-operator/catalog.yaml
  catalog/4.22/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

block upgrades from mcp-gateway-0.6.0 to 0.7.0
  catalog/4.19/mcp-gateway-operator/catalog.yaml
  catalog/4.20/mcp-gateway-operator/catalog.yaml
  catalog/4.21/mcp-gateway-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Add deprecation notice to RHCL 1.4.0 catalog entry, to minimise installs until we can ship 1.4.1
  catalog/4.19/authorino-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
  catalog/4.22/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Remove extra erroneous --- characters from catalog, they are causing issues with ibb
  catalog/4.19/authorino-operator/catalog.yaml
  catalog/4.19/dns-operator/catalog.yaml
  catalog/4.19/limitador-operator/catalog.yaml
  catalog/4.19/mcp-gateway-operator/catalog.yaml
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/authorino-operator/catalog.yaml
  catalog/4.20/dns-operator/catalog.yaml
  catalog/4.20/limitador-operator/catalog.yaml
  catalog/4.20/mcp-gateway-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/authorino-operator/catalog.yaml
  catalog/4.21/dns-operator/catalog.yaml
  catalog/4.21/limitador-operator/catalog.yaml
  catalog/4.21/mcp-gateway-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
  catalog/4.22/authorino-operator/catalog.yaml
  catalog/4.22/dns-operator/catalog.yaml
  catalog/4.22/limitador-operator/catalog.yaml
  catalog/4.22/mcp-gateway-operator/catalog.yaml
  catalog/4.22/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Also fix indentation errors across the catalog
  catalog/4.14/authorino-operator/catalog.yaml
  catalog/4.15/authorino-operator/catalog.yaml
  catalog/4.18/authorino-operator/catalog.yaml
  catalog/4.18/dns-operator/catalog.yaml
  catalog/4.18/limitador-operator/catalog.yaml
  catalog/4.18/rhcl-operator/catalog.yaml
  catalog/4.19/authorino-operator/catalog.yaml
  catalog/4.19/dns-operator/catalog.yaml
  catalog/4.19/limitador-operator/catalog.yaml
  catalog/4.19/mcp-gateway-operator/catalog.yaml
  catalog/4.19/rhcl-operator/catalog.yaml
  catalog/4.20/authorino-operator/catalog.yaml
  catalog/4.20/dns-operator/catalog.yaml
  catalog/4.20/limitador-operator/catalog.yaml
  catalog/4.20/mcp-gateway-operator/catalog.yaml
  catalog/4.20/rhcl-operator/catalog.yaml
  catalog/4.21/authorino-operator/catalog.yaml
  catalog/4.21/dns-operator/catalog.yaml
  catalog/4.21/limitador-operator/catalog.yaml
  catalog/4.21/mcp-gateway-operator/catalog.yaml
  catalog/4.21/rhcl-operator/catalog.yaml
  catalog/4.22/authorino-operator/catalog.yaml
  catalog/4.22/dns-operator/catalog.yaml
  catalog/4.22/limitador-operator/catalog.yaml
  catalog/4.22/mcp-gateway-operator/catalog.yaml
  catalog/4.22/rhcl-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push

Add mcp-gateway v0.7.1 to FBC catalogs
  catalog/4.19/mcp-gateway-operator/catalog.yaml
  catalog/4.20/mcp-gateway-operator/catalog.yaml
  catalog/4.21/mcp-gateway-operator/catalog.yaml
  catalog/4.22/mcp-gateway-operator/catalog.yaml
Due: rhcl-file-based-catalog-4-21-on-push
